[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restx = "*"
gunicorn = "*"
pymysql = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
