-i https://pypi.org/simple/
aniso8601==9.0.1
attrs==20.3.0
click==7.1.2
coverage==5.1
flake8==3.8.1
flask-jwt-extended==3.24.1
flask-restx==0.2.0
flask-sqlalchemy==2.4.1
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
gunicorn==20.0.4
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
jsonschema==3.2.0
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyjwt==2.0.1
pymysql==0.9.3
pyparsing==2.4.7
pyrsistent==0.17.3
pytest-cov==2.8.1
pytest-flask==1.0.0
pytest==5.4.2
pytz==2021.1
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
werkzeug==1.0.1
zipp==3.4.1
